.container{
    background-color: rgb(58, 0, 92) !important;
    padding: 1rem 2rem !important;
    margin-bottom: 2rem !important;
    width: 100% !important;
}
.brand{
    display: flex !important;
    flex-direction: column !important;
}
.motto{
    margin: 0 !important;
    padding: 0 !important;
    color: gray !important;
}