.button{
    height: 5rem !important;
    margin-bottom: 1rem !important;
    display: block !important;
    color: white !important;
    background-color: rgb(171, 121, 207) !important;
    display: inline-grid !important;
}
