body{
    background-color: rgb(88, 56, 121);
    margin: 0;
    padding: 0;
}
.cardContent{
    display: grid;
}
.container{
    display: grid !important;
    margin-bottom: 5rem !important;
}
.choose{
    display: contents !important;
}